# IPL Male Analysis

## 1. Reading and Understanding the data

In [31]:
import numpy as np
import pandas as pd
import glob
import csv

In [67]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [62]:
def get_match_date(filename):
    with open(filename) as file_obj:
        reader_obj = csv.DictReader(file_obj)
        heading = next(file_obj)
        
        for i,row in enumerate(reader_obj,1):
            if i==5:
                return pd.to_datetime(row['6'])

In [70]:
file_list = glob.glob("*.csv")
file_list = list(map(lambda x : int(x[:-4]),file_list))
file_list.sort()
i=1
main_dataframe = pd.read_csv(str(file_list[0])+".csv",skiprows=70,on_bad_lines='skip',header=None)
main_dataframe['match_date'] = get_match_date(str(file_list[0])+".csv")
main_dataframe['match_number'] = i

for i in range(1,len(file_list)):
    data = pd.read_csv(str(file_list[i])+".csv",skiprows=70,on_bad_lines='skip',header=None)
    data['match_date'] = get_match_date(str(file_list[0])+".csv")
    i+=1
    data['match_number'] = i
    main_dataframe = pd.concat([main_dataframe,data])
    
main_dataframe.columns=['type_of_data','innings','over_and_ball','batting_team','batsman','non_striker','bowler','runs_off_bat','extras','wides','no_balls','byes','leg_byes','penalty','kind_of_wicket','dismissed_player','match_date','match_number']

In [71]:
main_dataframe.head()

,type_of_data,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player,match_date,match_number
0,ball,1,0.1,Kolkata Knight Riders,SC Ganguly,BB McCullum,P Kumar,0.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2008-04-18,1
1,ball,1,0.2,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
2,ball,1,0.3,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
3,ball,1,0.4,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
4,ball,1,0.5,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1

In [72]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181064 entries, 0 to 231
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   type_of_data      181064 non-null  object
 1   innings           181064 non-null  object
 2   over_and_ball     181064 non-null  object
 3   batting_team      181064 non-null  object
 4   batsman           181064 non-null  object
 5   non_striker       180862 non-null  object
 6   bowler            180862 non-null  object
 7   runs_off_bat      180862 non-null  float64
 8   extras            180862 non-null  float64
 9   wides             5611 non-null    float64
 10  no_balls          712 non-null     float64
 11  byes              455 non-null     float64
 12  leg_byes          2831 non-null    float64
 13  penalty           1 non-null       float64
 14  kind_of_wicket    8851 non-null    object
 15  dismissed_player  8851 non-null    object
 16  match_date        181064 non-null  datetime64[ns]
 17  match_number      181064 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(9)
memory usage: 26.2+ MB

## 2. Cleaning unwanted data and null values treatment

In [73]:
main_dataframe.type_of_data.value_counts()

ball    180862
info       202
Name: type_of_data, dtype: int64

In [74]:
main_dataframe=main_dataframe[main_dataframe.type_of_data!="info"]

In [75]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   type_of_data      180862 non-null  object
 1   innings           180862 non-null  object
 2   over_and_ball     180862 non-null  object
 3   batting_team      180862 non-null  object
 4   batsman           180862 non-null  object
 5   non_striker       180862 non-null  object
 6   bowler            180862 non-null  object
 7   runs_off_bat      180862 non-null  float64
 8   extras            180862 non-null  float64
 9   wides             5611 non-null    float64
 10  no_balls          712 non-null     float64
 11  byes              455 non-null     float64
 12  leg_byes          2831 non-null    float64
 13  penalty           1 non-null       float64
 14  kind_of_wicket    8851 non-null    object
 15  dismissed_player  8851 non-null    object
 16  match_date        180862 non-null  datetime64[ns]
 17  match_number      180862 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(9)
memory usage: 26.2+ MB

In [76]:
main_dataframe=main_dataframe.drop('type_of_data',axis=1)

In [77]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   innings           180862 non-null  object
 1   over_and_ball     180862 non-null  object
 2   batting_team      180862 non-null  object
 3   batsman           180862 non-null  object
 4   non_striker       180862 non-null  object
 5   bowler            180862 non-null  object
 6   runs_off_bat      180862 non-null  float64
 7   extras            180862 non-null  float64
 8   wides             5611 non-null    float64
 9   no_balls          712 non-null     float64
 10  byes              455 non-null     float64
 11  leg_byes          2831 non-null    float64
 12  penalty           1 non-null       float64
 13  kind_of_wicket    8851 non-null    object
 14  dismissed_player  8851 non-null    object
 15  match_date        180862 non-null  datetime64[ns]
 16  match_number      180862 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 24.8+ MB

In [78]:
main_dataframe[['wides','no_balls','byes','leg_byes','penalty']]=main_dataframe[['wides','no_balls','byes','leg_byes','penalty']].fillna(0)

In [79]:
main_dataframe.head()

,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player,match_date,match_number
0,1,0.1,Kolkata Knight Riders,SC Ganguly,BB McCullum,P Kumar,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,2008-04-18,1
1,1,0.2,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2008-04-18,1
2,1,0.3,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,2008-04-18,1
3,1,0.4,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2008-04-18,1
4,1,0.5,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2008-04-18,1

In [80]:
main_dataframe[['kind_of_wicket','dismissed_player']]=main_dataframe[['kind_of_wicket','dismissed_player']].fillna("No Wicket")

In [81]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   innings           180862 non-null  object
 1   over_and_ball     180862 non-null  object
 2   batting_team      180862 non-null  object
 3   batsman           180862 non-null  object
 4   non_striker       180862 non-null  object
 5   bowler            180862 non-null  object
 6   runs_off_bat      180862 non-null  float64
 7   extras            180862 non-null  float64
 8   wides             180862 non-null  float64
 9   no_balls          180862 non-null  float64
 10  byes              180862 non-null  float64
 11  leg_byes          180862 non-null  float64
 12  penalty           180862 non-null  float64
 13  kind_of_wicket    180862 non-null  object
 14  dismissed_player  180862 non-null  object
 15  match_date        180862 non-null  datetime64[ns]
 16  match_number      180862 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 24.8+ MB

In [29]:
main_dataframe.head()

,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player
0,1,0.1,Kolkata Knight Riders,SC Ganguly,BB McCullum,P Kumar,0.0,1.0,0.0,0.0,0.0,1.0,0.0,No Wicket,No Wicket
1,1,0.2,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket
2,1,0.3,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,1.0,1.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket
3,1,0.4,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket
4,1,0.5,Kolkata Knight Riders,BB McCullum,SC Ganguly,P Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket

In [82]:
main_dataframe.innings.value_counts()

1    93377
2    87395
3       46
4       44
Name: innings, dtype: int64

In [97]:
main_dataframe[(main_dataframe['innings']==3) | (main_dataframe['innings']==4)].head(20)

,innings,over_and_ball,batting_team,batsman,non_striker,bowler,runs_off_bat,extras,wides,no_balls,byes,leg_byes,penalty,kind_of_wicket,dismissed_player,match_date,match_number
249,3,0.1,Chennai Super Kings,JA Morkel,ML Hayden,J Theron,1.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,131
250,3,0.2,Chennai Super Kings,ML Hayden,JA Morkel,J Theron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,bowled,ML Hayden,2008-04-18,131
251,3,0.3,Chennai Super Kings,SK Raina,JA Morkel,J Theron,2.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,131
252,3,0.4,Chennai Super Kings,SK Raina,JA Morkel,J Theron,6.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,131
253,3,0.5,Chennai Super Kings,SK Raina,JA Morkel,J Theron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,caught,SK Raina,2008-04-18,131
254,4,0.1,Kings XI Punjab,DPMD Jayawardene,Yuvraj Singh,M Muralitharan,6.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,131
255,4,0.2,Kings XI Punjab,DPMD Jayawardene,Yuvraj Singh,M Muralitharan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,caught,DPMD Jayawardene,2008-04-18,131
256,4,0.3,Kings XI Punjab,Yuvraj Singh,IK Pathan,M Muralitharan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,131
257,4,0.4,Kings XI Punjab,Yuvraj Singh,IK Pathan,M Muralitharan,4.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,131
248,3,0.1,Sunrisers Hyderabad,NLTC Perera,CL White,R Vinay Kumar,1.0,1.0,0.0,1.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
249,3,0.2,Sunrisers Hyderabad,CL White,NLTC Perera,R Vinay Kumar,1.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
250,3,0.3,Sunrisers Hyderabad,NLTC Perera,CL White,R Vinay Kumar,1.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
251,3,0.4,Sunrisers Hyderabad,CL White,NLTC Perera,R Vinay Kumar,6.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
252,3,0.5,Sunrisers Hyderabad,CL White,NLTC Perera,R Vinay Kumar,2.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
253,3,0.6,Sunrisers Hyderabad,CL White,NLTC Perera,R Vinay Kumar,6.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
254,3,0.7,Sunrisers Hyderabad,CL White,NLTC Perera,R Vinay Kumar,2.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
255,4,0.1,Royal Challengers Bangalore,CH Gayle,V Kohli,DW Steyn,2.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
256,4,0.2,Royal Challengers Bangalore,CH Gayle,V Kohli,DW Steyn,1.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
257,4,0.3,Royal Challengers Bangalore,V Kohli,CH Gayle,DW Steyn,4.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329
258,4,0.4,Royal Challengers Bangalore,V Kohli,CH Gayle,DW Steyn,1.0,0.0,0.0,0.0,0.0,0.0,0.0,No Wicket,No Wicket,2008-04-18,329

In [94]:
main_dataframe.innings=main_dataframe.innings.apply(lambda x: int(x))

In [95]:
main_dataframe.match_number.value_counts()

611    263
475    262
329    261
836    260
787    259
      ...
487    126
507    126
393    100
242     61
745     49
Name: match_number, Length: 759, dtype: int64

In [98]:
main_dataframe.over_and_ball.value_counts()

0.3     1533
0.4     1530
0.5     1526
0.6     1524
1.1     1517
3.1     1516
2.1     1516
4.1     1515
3.2     1515
2.6     1515
2.5     1515
2.3     1515
2.2     1515
2.4     1515
1.6     1515
1.4     1515
1.3     1515
1.2     1515
1.5     1515
3.6     1514
4.5     1514
4.4     1514
4.3     1514
4.2     1514
3.5     1514
3.4     1514
3.3     1514
5.1     1514
4.6     1514
5.2     1513
5.4     1513
5.3     1513
6.1     1513
7.1     1512
6.2     1512
7.2     1512
6.5     1512
6.3     1512
6.6     1512
6.4     1512
5.6     1512
5.5     1512
7.3     1511
7.5     1511
7.4     1511
7.6     1510
0.2     1509
8.1     1508
8.2     1507
9.1     1507
9.4     1506
9.3     1506
8.3     1506
8.4     1506
8.5     1506
8.6     1506
9.2     1506
9.5     1504
9.6     1504
10.1    1501
10.2    1499
10.3    1499
10.4    1497
10.5    1497
10.6    1497
11.1    1496
11.4    1495
11.6    1495
11.5    1495
11.3    1495
11.2    1495
12.1    1492
12.2    1492
12.3    1491
12.5    1490
12.4    1490
12.6    1490
13.1    1488
13.2    1486
13.3    1484
13.4    1480
13.5    1478
13.6    1472
14.1    1468
14.2    1466
0.1     1466
14.3    1462
14.4    1458
14.5    1455
14.6    1452
15.1    1448
15.2    1442
15.3    1436
15.4    1434
15.5    1430
15.6    1428
16.1    1420
16.2    1412
16.3    1409
16.4    1402
16.5    1397
16.6    1389
17.1    1380
17.2    1370
17.3    1364
17.4    1357
17.5    1345
17.6    1334
18.1    1316
18.2    1297
18.3    1280
18.4    1260
18.5    1237
18.6    1217
19.1    1177
19.2    1143
19.3    1108
19.4    1084
19.5    1044
19.6     998
1.7      351
18.7     330
0.7      328
17.7     306
16.7     305
2.7      278
3.7      274
15.7     264
5.7      259
4.7      259
19.7     250
14.7     247
12.7     235
6.7      232
7.7      228
11.7     221
9.7      218
13.7     217
8.7      214
10.7     212
18.8      72
17.8      68
1.8       59
0.8       59
15.8      47
16.8      46
2.8       44
19.8      42
13.8      41
4.8       39
10.8      38
3.8       38
6.8       37
8.8       35
14.8      33
12.8      32
5.8       30
7.8       30
9.8       29
11.8      25
18.9      18
19.9      12
0.9       12
2.9       10
1.9        9
17.9       8
4.9        8
6.9        7
14.9       7
16.9       7
3.9        6
8.9        6
9.9        6
5.9        5
11.9       5
15.9       5
10.9       4
7.9        4
13.9       3
12.9       3
Name: over_and_ball, dtype: int64

In [101]:
main_dataframe.over_and_ball=main_dataframe.over_and_ball.apply(lambda x: float(x))

In [103]:
main_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180862 entries, 0 to 231
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   innings           180862 non-null  int64
 1   over_and_ball     180862 non-null  float64
 2   batting_team      180862 non-null  object
 3   batsman           180862 non-null  object
 4   non_striker       180862 non-null  object
 5   bowler            180862 non-null  object
 6   runs_off_bat      180862 non-null  float64
 7   extras            180862 non-null  float64
 8   wides             180862 non-null  float64
 9   no_balls          180862 non-null  float64
 10  byes              180862 non-null  float64
 11  leg_byes          180862 non-null  float64
 12  penalty           180862 non-null  float64
 13  kind_of_wicket    180862 non-null  object
 14  dismissed_player  180862 non-null  object
 15  match_date        180862 non-null  datetime64[ns]
 16  match_number      180862 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(2), object(6)
memory usage: 24.8+ MB

In [30]:
main_dataframe.groupby("batsman").sum(numeric_only=True).sort_values(by='runs_off_bat',ascending=False)

             runs_off_bat  extras  wides  no_balls  byes  leg_byes  penalty
batsman
V Kohli            5502.0   203.0  141.0      13.0   3.0      46.0      0.0
S Dhawan           5134.0   260.0  151.0      16.0   8.0      85.0      0.0
RG Sharma          4821.0   154.0   91.0      11.0   2.0      50.0      0.0
DA Warner          4612.0   238.0  139.0      10.0  26.0      63.0      0.0
SK Raina           4481.0   218.0  136.0      18.0   4.0      60.0      0.0
...                   ...     ...    ...       ...   ...       ...      ...
Sunny Gupta           0.0     0.0    0.0       0.0   0.0       0.0      0.0
T Stubbs              0.0     0.0    0.0       0.0   0.0       0.0      0.0
JL Denly              0.0     0.0    0.0       0.0   0.0       0.0      0.0
A Uniyal              0.0     0.0    0.0       0.0   0.0       0.0      0.0
KK Ahmed              0.0     0.0    0.0       0.0   0.0       0.0      0.0

[580 rows x 7 columns]